<launch>

   
    <include 
    	file="$(find gazebo_ros)/launch/empty_world.launch">
	

    
    </include>

    
    <arg 
    	name="model" 
    	default="$(find soybot_model)/urdf/soybot.urdf"/>
	<param 
		name="robot_description" 
		command="$(find xacro)/xacro $(arg model)" />
	<node 
		name="spawn_model" 
		pkg="gazebo_ros" 
		type="spawn_model" 
		args="-param robot_description -urdf -x 0 -y 0 -z 1 -model soybot" />
		
</launch>

